<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        android:usesCleartextTraffic="true">
        <activity android:name=".Send_feedback"></activity>
        <activity android:name=".viewresults" />
        <activity android:name=".Viewresult" />
        <activity
            android:name=".Home"
            android:label="@string/title_activity_home"
            android:theme="@style/Theme.MyApplication.NoActionBar" />
        <activity android:name=".MainActivity" />
        <activity android:name=".Login" />
        <activity android:name=".Send_complaints" />
        <activity android:name=".Registration" />
        <activity android:name=".Candidate_home" />
        <activity android:name=".recommender" />
        <activity android:name=".Upload_cv" />
        <activity android:name=".View_company" />
        <activity android:name=".Custom3" />
        <activity android:name=".view_more_job_detals" />
        <activity android:name=".Custom2" />
        <activity android:name=".Apply" />
        <activity android:name=".Addmore_details" />
        <activity android:name=".add_more_personal_details" />
        <activity android:name=".Examintro" />
        <activity android:name=".Exam" />
        <activity android:name=".common_test_intro" />
        <activity android:name=".common_test" />
        <activity android:name=".Ipset">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

</manifest>