<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="addpolice">
  <table width="200" border="1">
    <tr>
      <td>name</td>
      <td>age</td>
      <td>gender</td>
      <td>address</td>
      <td>phone no</td>
      <td>email</td>
      <td>&nbsp;</td>
    </tr>
    {% for i in val %}
    <tr>
      <td>&nbsp;{{i[2]}} {{i[3]}}</td>
      <td>&nbsp;{{i[4]}}</td>
      <td>{{i[5]}}</td>
      <td>&nbsp;{{i[6]}} {{i[7]}} {{i[8]}}</td>
      <td>&nbsp;{{i[9]}}</td>
      <td>&nbsp;{{i[10]}}</td>
      <td><p><a href="editpolice?id={{i[1]}}">edit</a></p>
      <p><a href="dltpolice?id={{i[1]}}">delete</a></p></td>
    </tr>
    {% endfor %}
    <tr>
      <td colspan="2"><label>
        <div align="center">
          <input type="submit" name="Submit" value="addnew" />
          </div>
      </label></td>
    </tr>
  </table>
</form>
</body>
</html>
