<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="200" border="1">
    <tr>
      <td>casedetails</td>
      <td>report</td>
      <td>date</td>
      <td>evidence</td>
      <td>&nbsp;</td>
    </tr>
    {% for i in val %}
    <tr>
      <td>{{i[2]}} {{i[3]}} {{i[4]}} {{i[5]}} {{i[6]}} {{i[7]}}</td>
      <td>&nbsp;{{i[10]}}</td>
      <td>{{i[11]}}</td>
      <td>{{i[12]}}</td>
      <td><a href="dltcase?id={{i[8]}}">delete</a></td>
    </tr>
    {% endfor %}
  </table>
</form>
</body>
</html>
