<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->





<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>SOCIAL MEDIA USING CHATBOT- </title>

    <link href="https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap" rel="stylesheet">
    
    <!-- Template CSS -->
    <link rel="stylesheet" href="static/assets/css/style-starter.css">
  </head>
  <body>
<!-- header -->
<header id="site-header" >
  <div class="container">
      <nav class="navbar navbar-expand-lg stroke">
          <a class="navbar-brand" href="index.html">
              <span class="fa fa-cube"></span> SOCIAL MEDIA USING CHATBOT
          </a>

          


          <!-- if logo is image enable this   
      <a class="navbar-brand" href="#index.html">
          <img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
      </a> -->
          <button class="navbar-toggler  collapsed bg-gradient" type="button" data-toggle="collapse"
              data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
              aria-label="Toggle navigation">
              <span class="navbar-toggler-icon fa icon-expand fa-bars"></span>
              <span class="navbar-toggler-icon fa icon-close fa-times"></span>
              </span>
          </button>

          <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
              <ul class="navbar-nav ml-auto">
                  <li class="nav-item active">
                     <!--- <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
                  </li>-->
                  <li class="nav-item @@about__active">
                      <a class="nav-link" href={% url 'register' %}>REGISTER</a>
                  </li>
                  <li class="nav-item @@pages__active">
                      <a class="nav-link" href={% url 'user_login' %}>LOGIN</a>
                  </li>
                  <li class="nav-item @@contact__active">
                      <a class="nav-link" href={% url 'user_logout' %}>LOGOUT</a>
                  </li>
                  <!--<li class="nav-item ml-3 mr-2">
                      <a href="#download" class="btn btn-primary d-none d-lg-block btn-style">Download</a></li>
              </ul>
          </div>
          <!-- toggle switch for light and dark theme -->
          <div class="mobile-position">
              <nav class="navigation">
                  <div class="theme-switch-wrapper">
                      <label class="theme-switch" for="checkbox">
                          <input type="checkbox" id="checkbox">
                          <div class="mode-container">
                              <i class="gg-sun"></i>
                              <i class="gg-moon"></i>
                          </div>
                      </label>
                  </div>
              </nav>
          </div>
          <!-- //toggle switch for light and dark theme -->
      </nav>
  </div>
</header>


{% block content %}
<!-- //header -->

<div >
  
  <img src="static/assets/images/chtindex.jpg" style=" max-width: 100%; height: auto;  display: block;">
</div>
<!-- banner -->
<section class="banner w3pvt-banner" id="home">
    <!--<div class="container py-5">
        <div class="banner-text py-md-4">
            <div class="row banner-info">
                <div class="col-lg-7 w3pvt-logo align-self">
                    <h2>Organize all your Media Content easily with this App.</h2>
                    <p class="mt-3">Nulla maximus purus et sem consequat, porta porta tellus vulputate. Nunc porttitor
                        libero vitae vehicula sodales. Vestibulum id condimentum ante.</p>
                    <form action="#" method="post" class="">
                        <input type="email" name="Email" placeholder="Enter your email..." required="">
                        <button type="submit" class="btn">Take free trail</button>
                    </form>
                    <p class="mt-2 link">*We will give a trial download link to your mail address</p>
                </div>
                <div class="col-lg-5 col-md-7 mt-lg-0 mt-4">
                    <img src="static/assets/images/screenshot.png" alt="" class="img-fluid" />
                </div>
            </div>
        </div>
    </div>
</section>-->
<!-- //banner -->
<!-- /bottom-grids-->
<!--	<section class="w3l-bottom-grids-6 py-5">
		<div class="container py-lg-5 py-md-4">
			<div class="grids-area-hny main-cont-wthree-fea row">
				<div class="col-lg-3 col-md-6 grids-feature">
					<div class="area-box">
						<span class="fa fa-cubes"></span>
						<h4><a href="#feature" class="title-head">Modular</a></h4>
						<p>Vivamus a ligula quam. Ut blandit eu leo non sed..</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 grids-feature mt-md-0 mt-4">
					<div class="area-box">
						<span class="fa fa-laptop"></span>
						<h4><a href="#feature" class="title-head">Responsive</a></h4>
						<p>Vivamus a ligula quam. Ut blandit eu leo non sed..</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 grids-feature mt-lg-0 mt-4">
					<div class="area-box">
						<span class="fa fa-balance-scale"></span>
						<h4><a href="#feature" class="title-head">Scalable</a></h4>
						<p>Vivamus a ligula quam. Ut blandit eu leo non sed..</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 grids-feature mt-lg-0 mt-4">
					<div class="area-box">
						<span class="fa fa-pencil-square-o"></span>
						<h4><a href="#feature" class="title-head">Customizable</a></h4>
						<p>Vivamus a ligula quam. Ut blandit eu leo non sed..</p>
					</div>
				</div>
			</div>
		</div>
	</section>-->
	<!-- //bottom-grids-->

<!-- /mobile section --->

<!--<section class="w3l-mobile-content-6 py-5">
    <div class="mobile-info py-lg-5 py-md-4">
        <!-- /mobile-info-->
        <!--<div class="container">
            <h3 class="title-big mb-5 text-center">CHATBOT</h3>
            <div class="row mobile-info-inn mx-lg-0">
                <div class="col-lg-4 mobile-right">
                    <div class="row mobile-right-grids mb-lg-5 mb-4">
                        <div class="col-2 mobile-right-icon">
                            <div class="mobile-icon">
                                <span class="fa fa-tv"></span>
                            </div>
                        </div>
                        <div class="col-10 mobile-right-info">
                            <h6><a href="#url">I WILL ANSWER YOU</a></h6>
                            <p>A chatbot is a synthetic agent which will communicate with a user. Most are 
                              enables with a messenger interface with an input from a user and an output from
                               the Chatbot</p>
                        </div>
                    </div>
                    <div class="row mobile-right-grids mb-lg-5 mb-4">
                        <div class="col-2 mobile-right-icon">
                            <div class="mobile-icon">
                                <span class="fa fa-refresh"></span>
                            </div>
                        </div>
                        <div class="col-10 mobile-right-info">
                            <h6><a href="#url">POST HERE</a></h6>
                            <p>U can Add and Update the ppost here.</p>
                        </div>
                    </div>
                    <div class="row mobile-right-grids">
                        <div class="col-2 mobile-right-icon">
                            <div class="mobile-icon">
                                <span class="fa fa-pie-chart"></span>
                            </div>
                        </div>
                        <div class="col-10 mobile-right-info">
                            <h6><a href="#url">FRIENDS</a></h6>
                            <p>YOU can Search YOUR friends & can follow them.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mobile-left">
                    <img src="static/assets/images/chtindex.jpg" class="img-fluid radius-image" alt="">
                </div>
                <div class="col-lg-4 mobile-right">
                    <div class="row mobile-right-grids mb-lg-5 mb-4">
                        <div class="col-2 mobile-right-icon">
                            <div class="mobile-icon">
                                <span class="fa fa-cogs"></span>
                            </div>
                        </div>
                        <div class="col-10 mobile-right-info">
                            <h6><a href="#url">PHOTO PRIVACY</a></h6>
                            <p>Lorem ipsum dolor sit amet,Ea sed illum facere aperiam sequi optio consec
                                adipisicing elit.</p>
                        </div>
                    </div>
                    <div class="row mobile-right-grids mb-lg-5 mb-4">
                        <div class="col-2 mobile-right-icon">
                            <div class="mobile-icon">
                                <span class="fa fa-support"></span>
                            </div>
                        </div>
                        <div class="col-10 mobile-right-info">
                            <h6><a href="#url">Friendly online support</a></h6>
                            <p>Lorem ipsum dolor sit amet,Ea sed illum facere aperiam sequi optio consec
                                adipisicing elit.</p>
                        </div>
                    </div>
                    <div class="row mobile-right-grids">
                        <div class="col-2 mobile-right-icon">
                            <div class="mobile-icon">
                                <span class="fa fa-recycle"></span>
                            </div>
                        </div>
                        <div class="col-10 mobile-right-info">
                            <h6><a href="#url">Built with SASS, Gulp</a></h6>
                            <p>Lorem ipsum dolor sit amet,Ea sed illum facere aperiam sequi optio consec
                                adipisicing elit.</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- //mobile-info-->
    </div>
</section>
<!-- //mobile section --->
<!-- services page block 2 -->

<!--<section class="w3l-features py-5" id="features">
    <div class="call-w3 py-lg-5 py-md-4">
        <div class="container">
            <div class="row main-cont-wthree-2">
                <div class="col-lg-6 feature-grid-left">
                    <h3 class="title-big mb-4">Learn the features of new Beautiful lifestyle app!</h3>
                    <p class="text-para">Curabitur id gravida risus. Fusce eget ex fermentum, ultricies nisi ac sed,
                        lacinia est.
                        Quisque ut lectus consequat, venenatis eros et, init commodo risus. Nullam sit amet laoreet elit.
                        Suspendisse non sed consequat magna a velit efficitur risus dolor set. </p>
                    <ol class="w3l-right mt-4 mb-0">
                        <li>Suspendisse non sed consequat magna a velit commodo</li>
                        <li>Fusce eget ex fermentum, ultricies nisi ac sed et, init dolor sit</li>
                        <li>Quisque venenatis eros et, init commodo risus amet.</li>
                        <li>Suspendisse non sed consequat magna a velit</li>
                    </ol>
                    
                    <a href="contact.html" class="btn btn-primary btn-style mt-md-5 mt-4">Contact Us</a>
                </div>
                <div class="col-lg-6 feature-grid-right mt-lg-0 mt-5">
                    <div class="call-grids-w3 d-grid">
                        <div class="grids-1 box-wrap">
                            <a href="#more" class="icon"><span class="fa fa-pencil-square-o"></span></a>
                            <h4><a href="#feature" class="title-head">Easy to edit</a></h4>
                            <p>Vivamus a ligula quam. Ut blandit eu leo non. Duis sed doloramet laoreet.</p>
                        </div>
                        <div class="grids-1 box-wrap">
                            <a href="#more" class="icon"><span class="fa fa-life-ring"></span></a>
                            <h4><a href="#feature" class="title-head">Full protection</a></h4>
                            <p>Vivamus a ligula quam. Ut blandit eu leo non. Duis sed dolor amet laoreet.</p>
                        </div>
                        <div class="grids-1 box-wrap">
                            <a href="#more" class="icon"><span class="fa fa-database"></span></a>
                            <h4><a href="#feature" class="title-head">Data secure</a></h4>
                            <p>Vivamus a ligula quam. Ut blandit eu leo non. Duis sed dolor amet laoreet.</p>
                        </div>
                        <div class="grids-1 box-wrap">
                            <a href="#more" class="icon"><span class="fa fa-android"></span></a>
                            <h4><a href="#feature" class="title-head">Hi-speed app</a></h4>
                            <p>Vivamus a ligula quam. Ut blandit eu leo non. Duis sed dolor amet laoreet.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- //services page block 2 -->

<!--<section class="w3l-index3 bg-grey">
    <div class="midd-w3 py-5">
        <div class="container py-lg-5 py-md-3">
            <div class="row">
                <div class="col-lg-6">
                    <img src="static/assets/images/image1.jpg" alt="" class="img-fluid radius-image">
                </div>
                <div class="col-lg-6 mt-lg-0 mt-md-5 mt-4 about-right-faq align-self">
                    <h5 class="title-small">Who we are</h5>
                    <h3 class="title-big">Easy to manage your all Data by this App!</h3>
                    <p class="mt-3">Lorem ipsum viverra feugiat. Pellen tesque libero ut justo,
                        ultrices in ligula. Semper at tempufddfel. Lorem ipsum dolor sit amet consectetur adipisicing
                        elit. Non quae, fugiat consequatur voluptatem nihil ad.</p>
                    <a href="about.html" class="btn btn-style btn-primary mt-4">Know More</a>
                </div>
                <div class="col-lg-6 mt-5 about-right-faq align-self order2">
                    <h5 class="title-small">Why choose us</h5>
                    <h3 class="title-big">Bug free responsive app with high performence speed!</h3>
                    <p class="mt-3">Lorem ipsum viverra feugiat. Pellen tesque libero ut justo,
                        ultrices in ligula. Semper at tempufddfel. Lorem ipsum dolor sit amet consectetur adipisicing
                        elit. Non quae, fugiat consequatur voluptatem nihil ad.</p>
                    <a href="about.html" class="btn btn-style btn-primary mt-4">Know More</a>
                </div>
                <div class="col-lg-6 mt-md-5 mt-4">
                    <img src="static/assets/images/image2.jpg" alt="" class="img-fluid radius-image">
                </div>
            </div>
        </div>
    </div>
</section>

<!-- middle --><!----
	<div class="middle py-5">
		<div class="container py-xl-5 py-lg-3">
			<div class="welcome-left text-center py-md-3">
                <h3 class="mb-4">This Mobile App is available for all devices. <br> i.e, Android and apple devices</h3>
                <a href="#url"><img src="static/assets/images/android-store.png" alt="" width="170px" class="img-fluid"></a>
				<a href="#url"><img src="static/assets/images/apple-store.png" alt="" width="220px" class="img-fluid"></a>
				<p class="text-italic">* Available on iPhone, iPad and all Android devices
      
        </p>
			</div>
		</div>
	</div>
	<!-- //middle -->
<!-- stats --><!----
<section class="w3l-stats py-5" id="stats">
    <div class="gallery-inner container py-md-5 py-4">
        <div class="row stats-con">
            <div class="col-md-3 col-6 stats_info counter_grid">
                <span class="fa fa-users"></span>
                <p class="counter">2020</p>
                <h3>Customers</h3>
            </div>
            <div class="col-md-3 col-6 stats_info counter_grid1">
                <span class="fa fa-download"></span>
                <p class="counter">120</p>
                <h3>Downloads</h3>
            </div>
            <div class="col-md-3 col-6 stats_info counter_grid mt-md-0 mt-5">
                <span class="fa fa-smile-o"></span>
                <p class="counter">1500</p>
                <h3>Satisfied</h3>
            </div>
            <div class="col-md-3 col-6 stats_info counter_grid1 mt-md-0 mt-5">
                <span class="fa fa-coffee"></span>
                <p class="counter">120</p>
                <h3>Cups of coffee</h3>
            </div>
        </div>
    </div>
</section>
<!-- //stats -->


<!--<section class="w3l-clients py-5" id="clients">
    <div class="call-w3 py-lg-5 py-md-4">
        <div class="container">
            <h3 class="title-big text-center mb-2">Our Valuable customers</h3>
            <p class="text-head mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus reprehenderit expedita
                quos sunt neque! Ullam, ut? Quam nulla esse atque?</p>
            <div class="company-logos text-center">
                <div class="row logos mb-md-5">
                    <div class="col-lg-2 col-md-3 col-sm-4 col-6">
                        <img src="static/assets/images/logo1.png" alt="" class="img-fluid">
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-4 col-6">
                        <img src="static/assets/images/logo2.png" alt="" class="img-fluid">
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-4 col-6 mt-sm-0 mt-4">
                        <img src="static/assets/images/logo3.png" alt="" class="img-fluid">
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-4 col-6 mt-md-0 mt-4">
                        <img src="static/assets/images/logo4.png" alt="" class="img-fluid">
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-4 col-6 mt-lg-0 mt-4">
                        <img src="static/assets/images/logo5.png" alt="" class="img-fluid">
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-4 col-6 mt-lg-0 mt-4">
                        <img src="static/assets/images/logo1.png" alt="" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

  <!-- forms -->
  
  <!--<section class="container">
    <div class="w3l-forms-9 px-4" id="newsletter">
      <div class="main-w3 py-4">
        <div class="container-fluid py-lg-3 py-2">
          <div class="row align-items-center">
            <div class="main-midd col-lg-6">
              <h4 class="title-head">Subscribe our newsletter</h4>
              <p>We’re a team of non-cynics who truly care for our work.</p>
            </div>
            <div class="main-midd-2 col-lg-6 mt-lg-0 mt-4">
              <form action="#url" method="GET" class="rightside-form">
                <input type="email" class="form-control" name="email" placeholder="Enter your email">
                <button class="btn" type="submit">Subscribe</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- //forms -->
  <!-- footer-28 block -->

  {% endblock %}
  <!--<section class="app-footer">
    <footer class="footer-28">
      <div class="footer-bg-layer">
        <div class="container py-lg-3">
          <div class="row footer-top-28">
            <div class="col-lg-4 footer-list-28 mt-5">
              <h6 class="footer-title-28">Contact information</h6>
              <p>Lorem ipsum dolor sit amet, consectetur elit. Nihil sit dicta, commodi maxime
                provident quidem non, amet.</p>

              <div class="main-social-footer-28 mt-3">
                <ul class="social-icons">
                  <li class="facebook">
                    <a href="#link" title="Facebook">
                      <span class="fa fa-facebook" aria-hidden="true"></span>
                    </a>
                  </li>
                  <li class="twitter">
                    <a href="#link" title="Twitter">
                      <span class="fa fa-twitter" aria-hidden="true"></span>
                    </a>
                  </li>
                  <li class="dribbble">
                    <a href="#link" title="Dribbble">
                      <span class="fa fa-dribbble" aria-hidden="true"></span>
                    </a>
                  </li>
                  <li class="google">
                    <a href="#link" title="Google">
                      <span class="fa fa-google" aria-hidden="true"></span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-lg-8">
              <div class="row">
                <div class="col-md-4 col-6 footer-list-28 mt-5">
                  <h6 class="footer-title-28">Useful links</h6>
                  <ul>
                    <li><a href="features.html">App Features</a></li>
                    <li><a href="about.html">About us</a></li>
                    <li><a href="#blog">Blog posts</a></li>
                    <li><a href="#pricing">Pricing plans</a></li>
                  </ul>
                </div>
                <div class="col-md-4 col-6 footer-list-28 mt-5">
                  <h6 class="footer-title-28">Product help</h6>
                  <ul>
                    <li><a href="#privacy">Privacy policy</a></li>
                    <li><a href="#support"> Support</a></li>
                    <li><a href="#terms">Terms & conditions</a></li>
                    <li><a href="#license">License and uses</a></li>
                  </ul>
                </div>
                <div class="col-md-4 footer-list-28 mt-5">
                  <h6 class="footer-title-28">Download</h6>
                  <a href="#playstore"><img src="static/assets/images/googleplay.png" class="img-fluid" alt=""></a>
                  <a href="#appstore"><img src="static/assets/images/appstore.png" class="img-fluid mt-md-2" alt=""></a>
                </div>
              </div>
            </div>
          </div>
          <div class="midd-footer-28 align-center py-4 mt-5">
            <p class="copy-footer-28 text-center"> &copy; 2020 App Flow. All Rights Reserved. Design by <a
                href="https://w3layouts.com/">W3Layouts</a></p>
          </div>
        </div>


      </div>
    </footer>

    <!-- move top -->
    <!--<button onclick="topFunction()" id="movetop" title="Go to top">
      &#10548;
    </button>
    <script>
      // When the user scrolls down 20px from the top of the document, show the button
      window.onscroll = function () {
        scrollFunction()
      };

      function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
          document.getElementById("movetop").style.display = "block";
        } else {
          document.getElementById("movetop").style.display = "none";
        }
      }

      // When the user clicks on the button, scroll to the top of the document
      function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
      }
    </script>
    <!-- /move top -->
  </section>
  <!-- //footer-28 block -->

  <!-- all js scripts and files here -->

  <script src="static/assets/js/theme-change.js"></script><!-- theme switch js (light and dark)-->

  <script src="static/assets/js/jquery-3.3.1.min.js"></script><!-- default jQuery -->

<!-- magnific popup -->
<script src="static/assets/js/jquery.magnific-popup.min.js"></script>
<script>
  $(document).ready(function () {
    $('.popup-with-zoom-anim').magnificPopup({
      type: 'inline',

      fixedContentPos: false,
      fixedBgPos: true,

      overflowY: 'auto',

      closeBtnInside: true,
      preloader: false,

      midClick: true,
      removalDelay: 300,
      mainClass: 'my-mfp-zoom-in'
    });

    $('.popup-with-move-anim').magnificPopup({
      type: 'inline',

      fixedContentPos: false,
      fixedBgPos: true,

      overflowY: 'auto',

      closeBtnInside: true,
      preloader: false,

      midClick: true,
      removalDelay: 300,
      mainClass: 'my-mfp-slide-bottom'
    });
  });
</script>
<!-- magnific popup -->


<script src="static/assets/js/owl.carousel.js"></script>
<!-- script for tesimonials carousel slider -->
<script>
  $(document).ready(function () {
    $("#owl-demo1").owlCarousel({
      loop: true,
      margin: 0,
      nav: false,
      responsiveClass: true,
      responsive: {
        0: {
          items: 2,
          nav: false
        },
        736: {
          items: 3,
          nav: false
        },
        1000: {
          items: 4,
          nav: false,
          loop: false
        }
      }
    })
  })
</script>
<!-- //script for tesimonials carousel slider -->

  <!-- stats number counter-->
  <script src="static/assets/js/jquery.waypoints.min.js"></script>
  <script src="static/assets/js/jquery.countup.js"></script>
  <script>
    $('.counter').countUp();
  </script>
  <!-- //stats number counter -->

  <!-- disable body scroll which navbar is in active -->
  <script>
    $(function () {
      $('.navbar-toggler').click(function () {
        $('body').toggleClass('noscroll');
      })
    });
  </script>
  <!-- disable body scroll which navbar is in active -->

  <!--/MENU-JS-->
  <script>
    $(window).on("scroll", function () {
      var scroll = $(window).scrollTop();

      if (scroll >= 80) {
        $("#site-header").addClass("nav-fixed");
      } else {
        $("#site-header").removeClass("nav-fixed");
      }
    });

    //Main navigation Active Class Add Remove
    $(".navbar-toggler").on("click", function () {
      $("header").toggleClass("active");
    });
    $(document).on("ready", function () {
      if ($(window).width() > 991) {
        $("header").removeClass("active");
      }
      $(window).on("resize", function () {
        if ($(window).width() > 991) {
          $("header").removeClass("active");
        }
      });
    });
  </script>
  <!--//MENU-JS-->

  <!-- bootstrap js -->
  <script src="static/assets/js/bootstrap.min.js"></script>

  </body>

  </html>