<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <div align="center">
    <table width="200" border="1">
      <tr>
        <td>case</td>
        <td><label>
          <input type="text" name="textfield" />
        </label></td>
      </tr>
      <tr>
        <td>date</td>
        <td><label>
          <input type="date" name="textfield2" />
        </label></td>
      </tr>
      <tr>
        <td>place</td>
        <td><label>
          <input type="text" name="textfield3" />
        </label></td>
      </tr>
      <tr>
        <td>type</td>
        <td><label>
          <input type="text" name="textfield4" />
        </label></td>
      </tr>
      <tr>
        <td>description</td>
        <td><label>
          <textarea name="textarea"></textarea>
        </label></td>
      </tr>
      <tr>
        <td>criminal</td>
        <td><label>
          <input type="text" name="textfield5" />
        </label></td>
      </tr>
      <tr>
        <td colspan="2"><label>
          <div align="center">
            <input type="submit" name="Submit" value="Add" />
            </div>
        </label></td>
      </tr>
      </table>
  </div>
</form>
</body>
</html>
