{% extends 'indexcomp.html'%}
{% block body %}
<head>
<style>
#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 40%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}
</style>
</head>
<body>
<form id="form1" name="form1" method="post" action="/cscheduleexamsubmit">
  <div align="center">
    <table width="200" border="1">
      <tr>
        <th scope="row">Date:</th>
        <td><label>
          <input type="date" name="textfield" />
        </label></td>
      </tr>
      <tr>
        <th scope="row">Time</th>
        <td><label>
          <input type="time" name="textfield2" />
        </label></td>
      </tr>
      <tr>
        <th scope="row">Password</th>
        <td><label>
          <input type="password" name="textfield3" />
        </label></td>
      </tr>
      <tr>
        <th colspan="2" scope="row"><label>
          <input type="submit" name="Submit" value="Schedule" />
        </label></th>
      </tr>
      </table>
  </div>
</form>
</body>
{% endblock %}
<!--</html>-->
