{% extends 'indexcomp.html'%}
{% block body %}
</head>

<style type="text/css">
<!--
.style2 {color: #0099FF}
-->
</style>
<body>
<form id="form1" name="form1" method="post" action="">
  <div align="center">
    <table width="1017" height="216" border="0">

      <tr>
        <td><h1 align="center">Welcome to <span class="style2">CAREER TECH</span>'s Company !</h1></td>
      </tr>
	  <!--
      <tr>
        <td><div align="center"><a href="comvac">Add Vacancy</a></div></td>
      </tr>
      <tr>
        <td><div align="center"><a href="comnotf">Notifications</a></div></td>
      </tr>
      <tr>
        <td><div align="center"><a href="test_result">Test result</a> </div></td>
      </tr>
      <tr>
        <td><div align="center"><a href="company_view_shortlst">Shortlist</a></div></td>
      </tr>
      <tr>
        <td><div align="center"><a href="comcmp">Manage complaints</a> </div></td>
      </tr>


      <tr>
        <td><div align="center"><a href="company_view_qstn">Add Questions</a> </div></td>
      </tr>






      <tr>
        <td><div align="center"><a href="lgout">Logout</a></div></td>
      </tr>
	  -->
    </table>
  </div>
</form>
</body>
{%endblock %}
