{% extends 'expertindex.html'%}
{% block body %}
<!--<body>-->
<!--<form id="form1" name="form1" method="post" action="">-->
  <!--<table width="200" border="1">-->
    <!--<tr>-->
      <!--<td><a href="">Add and manage dataset </a></td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td><a href="tips">Add and manage tips </a></td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td><a href="viewfeedback">View feedback </a></td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td><p><a href="add_and_manage_treatment">Add and manage treatment </a></p>-->
      <!--</td>-->
    <!--</tr>-->
       <!--<tr>-->
      <!--<td><p><a href="/">logout</a></p>-->
      <!--</td>-->
    <!--</tr>-->
  <!--</table>-->
<!--</form>-->
<!--</body>-->
{% endblock %}