<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />-->
<!--<title>Untitled Document</title>-->
<!--</head>-->
{% extends 'index.html'%}
{% block body %}
<body>

 <div align="center">
<form id="form1" name="form1" method="post" action="logincode">
  <table width="320" border="0" class="table table-border">
    <tr>
      <th width="135">Username</th>
      <td width="175"><label>
        <input type="text" name="textfield" class="form-control" required />
      </label></td>
    </tr>
    <tr>
      <th>Password</th>
      <td><label>
        <input type="password" name="textfield2" class="form-control" required />
      </label></td>
    </tr>
    <tr>
      <td colspan="2">
        <div align="center">
          <input type="submit" name="Submit" value="Login" class="btn-success" />
          <a href="#"></a></div>
     </td>
    </tr>
  </table>
</form>
 </div>
</body>
{% endblock %}