<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="200" border="0">
    <tr>
      <td><a href="#">send and receive messages </a></td>
    </tr>
    <tr>
      <td><a href="#">upload doc and view category </a></td>
    </tr>
    <tr>
      <td><a href="#">identidy duplicte doc </a></td>
    </tr>
    <tr>
      <td><a href="#">view history </a></td>
    </tr>
    <tr>
      <td><a href="#">display doc in category </a></td>
    </tr>
    <tr>
      <td><a href="#">logout</a></td>
    </tr>
  </table>
</form>
</body>
</html>
