{% extends 'admin/adminindex.html' %}
{% block body %}

<form id="form1" name="form1" method="post" action="/change_password_post">
    <table class="table table-bordered">
        <tr>
            <td width="150px">Current password</td>
            <td><input type="password" name="textfield" id="pswd"  required class="form-control" ></td>
        </tr>
         <tr>
            <td>New password</td>
            <td><input type="password" name="textfield2" id="new" required="required" class="form-control" ></td>
        </tr>
         <tr>
            <td>Confirm password</td>
            <td><input type="password" onkeyup="dd()" name="textfield3"  required="required" id="cfm" class="form-control" ></td>

</tr>
        <tr>
            <td></td>


            <td><input type="submit" name="submit" id="btn" value="Submit"  class="btn btn-success"></td>


            </tr>

        <tr>
            <td></td>
            <td> <label id="lab"></label></td>
        </tr>



    </table>

</form>
    <script src="/static/gulpfile.js"></script>
    <script>

    function dd() {
{#        alert('hiii')#}
        var n = document.getElementById('new').value;
{#        alert('hello')#}
        var c = document.getElementById('cfm').value;
{#        alert('helloooo')#}
        if (n != c) {
            document.getElementById('btn').disabled = true;
            document.getElementById('lab').style.color = "red";
            document.getElementById('lab').innerHTML = 'new password and confirm password not matching';
        }
        else {
            document.getElementById('btn').disabled = false;
            document.getElementById('lab').innerHTML = '';
        }

}

    </script>
{% endblock %}