{% load static %}
<!DOCTYPE html>
<html>
<head>
    
<title>Crop Yield Prediction</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Vegetable Farm Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<!-- css links -->
<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" media="all">
<link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" type="text/css" href="{% static 'css/caption-hover.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/circle-hover.css' %}" />
<link href="{% static 'css/slider.css' %}" rel="stylesheet" type="text/css" media="all">
<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" media="all">
<!-- /css links -->
<!-- <link href="{% static 'fonts/fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900' %}" rel='stylesheet' type='text/css'>
<link href="{% static 'fonts/fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' %}" type='text/css'> -->
<!-- <link rel="stylesheet" href="{% static 'css/styles2.css' %}"> -->
<script src="{% static 'js/SmoothScroll.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/modernizr.custom.js' %}"></script> 
</head>
<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">
<!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">

          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Crop Yield Prediction</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
			<ul class="nav navbar-nav navbar-right">
				<li class="active"><a href="{% url 'dashboard' %}">Home</a></li>
				<li><a href="{% url 'register' %}">Register</a></li>
				<li><a href="{% url 'user_login' %}">Login</a></li>
				<li><a href="{% url 'user_logout' %}">Logout</a></li>
				<li><a href="#contact">Contact</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    {% block content %}
<!-- /Fixed navbar -->	
<!-- Banner -->
<div class="banner">
    <div id="tm-video-container">
        <video autoplay muted loop id="tm-video">
            <!-- <source src="video/sunset-timelapse-video.mp4" type="video/mp4"> -->
                <source src="{% static 'video/wheat-field.mp4' %}" type="video/mp4">
        </video>    
    </div>
    
    <i id="tm-video-control-button" class="fas fa-pause"></i>
</div>
	
	
</div>
<!-- /Banner -->
<!-- About -->
<section class="about-us" id="about">
	<h3 class="text-center slideanim">About Us</h3>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2 slideanim">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
            </div>
            <div class="col-lg-4 slideanim">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
            </div>
        </div>
    </div>
</section>
<div class="content-section-a">
	<div class="container">
		<div class="row">
            <div class="col-lg-5 col-sm-6">
				<div class="content1">
					<h3 class="section-heading slideanim">Agriculture Farm Building a Better Tomorrow.</h3>
					<hr class="section-heading-spacer slideanim">
					<div class="clearfix"></div>
					<p class="lead slideanim">“Let us not forget that the cultivation of the earth is the most important labor of man. When tillage begins, other arts follow. The farmers, therefore, are the founders of human civilization..</p>
				</div>
			</div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6 slideanim">
                <ul class="grid cs-style">
					<li>
						<figure>
							<img src="{% static 'images/farm1' %}" alt="" class="img-responsive">
							<figcaption>
								<h3>Crop Yields</h3>
								<p>Building a Better Tomorrow.</p>
							</figcaption>
						</figure>
					</li>
				</ul> 
			</div>
        </div>
	</div>
</div>
<div class="content-section-b">
	<div class="container">
		<div class="row">
			<div class="col-lg-5 col-lg-offset-1 col-sm-push-6 col-sm-6">
				<div class="content2">
					<h3 class="section-heading slideanim">About us</h3>
					<hr class="section-heading-spacer slideanim">
					<div class="clearfix"></div>
					<p class="lead slideanim">Crop yield prediction is one of the challenging tasks in agriculture. ... The prediction of crop yield is based on soil, meteorological, environmental, and crop parameters. Decision support models are broadly used to extract significant crop features for prediction</p>
				</div>
			</div>
            <div class="col-lg-5 col-sm-pull-6 col-sm-6 slideanim">
                <ul class="grid cs-style">
					<li>
						<figure>
							<img src="{% static 'images/farm2.jpg' %}" alt="" class="img-responsive">
							<figcaption>
								<h3>Something Special</h3>
								<p>About The Vegetable Farm</p>
							</figcaption>
						</figure>
					</li>
				</ul>
            </div>
        </div>
	</div>
</div>
<div class="content-section-a">
	<div class="container">
		<div class="row">
            <div class="col-lg-5 col-sm-6">
				<div class="content3">
					<h3 class="section-heading slideanim">Vegetable Farm The Fresh Maker!</h3>
					<hr class="section-heading-spacer slideanim">
					<div class="clearfix"></div>
					<p class="lead slideanim">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
				</div>
			</div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6 slideanim">
                <ul class="grid cs-style">
					<li>
						<figure>
							<img src="{% static 'images/farm3.jpg' %}" alt="" class="img-responsive">
							<figcaption>
								<h3>Vegetable Farm</h3>
								<p>The Fresh Maker!</p>
							</figcaption>
						</figure>
					</li>
				</ul>
            </div>
        </div>
	</div>
</div>
<!-- /About -->
<!-- /Services -->
<section class="our-services" id="services">
    <h3 class="text-center slideanim">Our Services</h3>
	<ul class="ch-grid">
		<li>
			<div class="ch-item ch-img-1 slideanim">				
				<div class="ch-info-wrap">
					<div class="ch-info">
						<div class="ch-info-front ch-img-1"></div>
						<div class="ch-info-back">
							<h5>Vegetative Propagation</h5>
							<p>Using Advanced Scientific Techniques</p>
						</div>	
					</div>
				</div>
			</div>
			<h4 class="slideanim">Vegetative Propagation</h4>
			<p class="slideanim">Using Advanced Scientific Techniques</p>
		</li>
		<li>
			<div class="ch-item ch-img-2 slideanim">
				<div class="ch-info-wrap">
					<div class="ch-info">
						<div class="ch-info-front ch-img-2"></div>
						<div class="ch-info-back">
							<h5>Irrigation</h5>
							<p>Advanced Irrigation Techniques</p>
						</div>
					</div>
				</div>
			</div>
			<h4 class="slideanim">Irrigation</h4>
			<p class="slideanim">Using Advanced Irrigation Techniques</p>
		</li>
		<li>
			<div class="ch-item ch-img-3 slideanim">
				<div class="ch-info-wrap">
					<div class="ch-info">
						<div class="ch-info-front ch-img-3"></div>
						<div class="ch-info-back">
							<h5>Tools-Machinery</h5>
							<p>Using Advanced Tools & Machinery</p>
						</div>
					</div>
				</div>
			</div>
			<h4 class="slideanim">Tools-Machinery</h4>
			<p class="slideanim">Using Advanced Tools & Machinery</p>
		</li>
		<li>
			<div class="ch-item ch-img-4 slideanim">
				<div class="ch-info-wrap">
					<div class="ch-info">
						<div class="ch-info-front ch-img-4"></div>
						<div class="ch-info-back">
							<h5>End Of Harvest</h5>
							<p>Advanced Harvesting Techniques</p>
						</div>
					</div>
				</div>
			</div>
			<h4 class="slideanim">End Of Harvest</h4>
			<p class="slideanim">Using Advanced Harvesting Techniques</p>
		</li>
	</ul>
</section>
<!-- /Services -->
<!-- Portfolio Grid Section -->
<section id="portfolio">
	<h3 class="text-center slideanim">Our Portfolio</h3>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item slideanim">
                <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
					<div class="caption">
						<div class="caption-content">
							<i class="fa fa-paper-plane-o"></i>
						</div>
					</div>
					<img src="{% static 'images/port1.jpg' %}" class="img-responsive" alt="">
				</a>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item slideanim">
                <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
					<div class="caption">
                        <div class="caption-content">
							<i class="fa fa-paper-plane-o"></i>
                        </div>
					</div>
                    <img src="{% static 'images/port2.jpg' %}" class="img-responsive" alt="">
                </a>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item slideanim">
                <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-paper-plane-o"></i>
                        </div>
                    </div>
                    <img src="{% static 'images/port3.jpg' %}" class="img-responsive" alt="">
                </a>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item slideanim">
                <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-paper-plane-o"></i>
                        </div>
                    </div>
                    <img src="{% static 'images/port4.jpg' %}" class="img-responsive" alt="">
                </a>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item slideanim">
				<a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-paper-plane-o"></i>
                        </div>
                    </div>
                    <img src="{% static 'images/port5.jpg' %}" class="img-responsive" alt="">
                </a>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item slideanim">
                <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-paper-plane-o"></i>
                        </div>
                    </div>
					<img src="{% static 'images/port6.jpg' %}" class="img-responsive" alt="">
                </a>
            </div>
        </div>
    </div>
</section>
<!-- /Portfolio Grid Section -->
<!-- Portfolio Modals -->
<div class="portfolio-modal modal fade slideanim" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl"></div>
            </div>
        </div>
        <div class="container">
			<div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h3>Vegetable Farm</h3>
						<hr>
                        <img src="{% static 'images/port1.jpg' %}" class="img-responsive img-centered" alt="">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade slideanim" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl"></div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h3>Vegetable Farm</h3>
                        <hr>
                        <img src="{% static 'images/port2.jpg' %}" class="img-responsive img-centered" alt="">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
<div class="portfolio-modal modal fade slideanim" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl"></div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h3>Vegetable Farm</h3>
                        <hr>
                        <img src="{% static 'images/port3.jpg' %}" class="img-responsive img-centered" alt="">
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade slideanim" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl"></div>
            </div>
        </div>
        <div class="container">
			<div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h3>Vegetable Farm</h3>
                        <hr>
                        <img src="{% static 'images/port4.jpg' %}" class="img-responsive img-centered" alt="">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
						<button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade slideanim" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl"></div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h3>Vegetable Farm</h3>
                        <hr>
                        <img src="{% static 'images/port5.jpg' %}" class="img-responsive img-centered" alt="">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade slideanim" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl"></div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h3>Vegetable Farm</h3>
                        <hr>
                        <img src="{% static 'images/port6.jpg' %}" class="img-responsive img-centered" alt="">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Portfolio Modals -->

<!-- Contact-Us -->
<section class="contact-us" id="contact">
	<h3 class="text-center slideanim">Contact Us</h2>
	<div class="container">
		<div class="row">
            <div class="col-md-8 col-xs-12 slideanim">
                <iframe class="googlemaps" src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d380510.6741687111!2d-88.01234121699822!3d41.83390417061058!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1455598377120" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
            <div class="col-md-4 col-xs-12 slideanim">
				<h4>Our Contacts :</h4>
                <p>Phone:123.456.7890</p>
                <p>Email:<a href="mailto:name@example.com">name@example.com</a></p>
                <p>Address:3481 Melrose Place,Beverly Hills, Chicago 90210.</p>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</section>
<!-- /Contact-Us -->
<!-- Contact-Form -->	
<section class="contact-form slideanim">
	<h3 class="text-center">Contact Form</h3>
	<p class="text-center">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<form role="form">
					<div class="row">
						<div class="form-group col-lg-4">
							<label>Name</label>
							<input type="text" class="form-control">
						</div>
						<div class="form-group col-lg-4">
							<label>Email Address</label>
							<input type="email" class="form-control">
						</div>
						<div class="form-group col-lg-4">
							<label>Phone Number</label>
							<input type="tel" class="form-control">
						</div>
						<div class="clearfix"></div>
						<div class="form-group col-lg-12">
							<label>Message</label>
							<textarea class="form-control" rows="6"></textarea>
						</div>
						<div class="form-group col-lg-12">
							<button type="submit" href="#" class="btn btn-lg btn-outline">Submit</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>	
<!-- /Contact-Form -->
{% endblock %}
<!-- Footer -->
{% block footer %}
<footer class="text-center slideanim slide">
    <div class="footer-above">
        <div class="container">
            <div class="row">
                <div class="footer-col col-md-4">
                    <h4>Location</h4>
                    <p>3481 Melrose Place<br>Beverly Hills, Chicago 90210</p>
                </div>
                <div class="footer-col col-md-4">
                    <h4>Around the Web</h4>
                    <ul class="list-inline">
                        <li>
                            <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
                        </li>
                        <li>
                            <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-google-plus"></i></a>
                        </li>
                        <li>
                            <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
                        </li>
                        <li>
                            <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-dribbble"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="footer-col col-md-4">
                    <h4>About Vegetable Farm</h4>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                </div>
            </div>
        </div>
	</div>
    <div class="footer-below">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p>© 2016 Vegetable Farm. All Rights Reserved | Design by <a href="https://w3layouts.com/" target="_blank">W3layouts</a></p>
                </div>
            </div>
        </div>
		<a href="#myPage" title="To Top">
			<span class="glyphicon glyphicon-chevron-up"></span>
		</a>
    </div>
</footer>
{% endblock footer %}
<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
<!-- js files -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/classie.js' %}"></script>
<script src="{% static 'js/TweenMax.min.js' %}"></script>
<script src="{% static 'js/index.js' %}"></script>
<script src="{% static 'js/index2.js' %}"></script>
<script>
$(document).ready(function(){
  // Add smooth scrolling to all links in navbar + footer link
  $(".navbar a, footer a[href='#myPage']").on('click', function(event) {

  // Store hash
  var hash = this.hash;

  // Using jQuery's animate() method to add smooth page scroll
  // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
  $('html, body').animate({
    scrollTop: $(hash).offset().top,
  }, 900, function(){

    // Add hash (#) to URL when done scrolling (default click behavior)
    window.location.hash = hash;
    });
  });
})
</script>
<script>
$(window).scroll(function() {
  $(".slideanim").each(function(){
    var pos = $(this).offset().top;

    var winTop = $(window).scrollTop();
    if (pos < winTop + 600) {
      $(this).addClass("slide");
    }
  });
});
</script>
<!-- /js files -->
</body>
</html>


