{% extends "admin/admin-home.html" %}
{% block body %}
     <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Change Password</h4><br>

                   <form id="form1" name="form1" method="post" action="/adm_changepassword_post">





                      <div class="form-group">
                        <label for="exampleInputName1">Old Password</label>
                        <input type="text" class="form-control"  name="textfield" placeholder="Old password" required>
                      </div>


                      <div class="form-group">
                        <label for="exampleInputName1">New Password</label>
                        <input type="text" class="form-control"  name="textfield2" placeholder="New password" required>
                      </div>

                      <div class="form-group">
                        <label for="exampleInputName1">Confirm Password</label>
                        <input type="text" class="form-control"  name="textfield3" placeholder="Confirm password" required>
                      </div>



                      <button type="submit"  class="btn btn-success">Change</button>
                      <button type="reset" class="btn btn-light">Cancel</button>
                    </form>
                  </div>
                </div>



{% endblock %}
