{% extends "admin/admin-home.html" %}
{% block body %}





    <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Complaint Table</h4><br>


                  <form id="form1" name="form1" method="post" action="/adm_viewcompsndrply_post">
  <table class="pull-right">
    <tr>
     <tr>
      <th>From</th>
        <td><input type="date" name="textfield" class="form-control" placeholder="name" /></td>
        <th>To</th>
        <td><input type="date" name="textfield2" class="form-control" placeholder="name"></td>
        <td><input type="submit" name="Submit" value="Search" class="btn btn-outline-success" /></td>
    </tr>
  </table>
    <br></form>







                    <table class="table table-striped">
                      <thead>
                        <tr>
                           <th width="2%">#</th>
      <th width="3%">Date</th>
      <th width="4%">Driver_info</th>
      <th width="4%">Complaint</th>
      <th>Replay</th>
                        </tr>
                      </thead>
                      <tbody>
                             {% for i in data %}
    <tr>
       <td class="py-1">{{ loop.index}}</td>



      <td>{{ i['date'] }}</td>
      <td>{{ i['name']}}<br>{{ i['place'] }}<br>{{ i['contact_no'] }}<br>{{ i['email'] }}</td>
      <td>&nbsp;{{ i['complaint'] }}</td>
        {% if  i['replay'] =='pending' %}
      <td width="5%"><a href="/adm_cmplntrply/{{ i['complaint_id'] }}" class="btn btn-success">Reply</a></td>
    {% else %}
        <td width="5%">{{ i['replay'] }}</td>
    {% endif %}





    </tr>
{% endfor %}






                      </tbody>
                    </table>
                  </div>
                </div>








{% endblock %}