{% extends 'indexadmin.html'%}
{% block body %}
<style type="text/css">
<!--
.style1 {font-size: xx-large}
.style2 {color: #0099FF}
-->
</style>
</head>

<body>
<form action="" method="post" name="form1" id="form1">

  <table width="1002" border="0">
    <tr>
      <td width="734" class="style1"><h1 align="center">You are logged into <span class="style2">CAREER TECH</span>'s Admin ! </h1></td>
    </tr>
    <!--
      <tr>
        <td width="360" class="style1"><a href="addv">Verification</a></td>
      </tr>
      <tr>
        <td class="style1"><a href="addq">Add Questions </a></td>
      </tr>
      <tr>
        <td class="style1"><a href="file:///D:/Project/CV/Admin/test%20result.html">Test Result </a></td>
      </tr>
      <tr>
        <td class="style1"><a href="addnt">Notification</a></td>
      </tr>
      <tr>
        <td class="style1"><a href="lgout">Logout</a></td>
      </tr>
      -->
  </table>
</form>
</body>
{%endblock %}
