<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form action="/updateAddbio1" method="post" enctype="multipart/form-data" name="form1" id="form1">
  <div align="center">
    <table width="200" border="1">
      <tr>
        <td>First Name </td>
      <td>
        <p>
          <input type="text" name="textfield"/>
        </p></td>
    </tr>
      <tr>
        <td>Last Name </td>
      <td>
        <input type="text" name="textfield2"  />    </td>
    </tr>
      <tr>
        <td>Gender</td>
      <td>
        <input name="radiobutton" type="radio" value="Male"  />
        male
        <input name="radiobutton" type="radio" value="Female"  />
        Female
        <input name="radiobutton" type="radio" value="Others"  />
        others   </td>
    </tr>
      <tr>
        <td>Date Of Birth </td>
      <td><input type="date" name="date" />	</td>
    </tr>
      <tr>
        <td>Phone Number </td>
      <td>
        <input type="text" name="textfield3" />    </td>
    </tr>
      
      <tr>
        <td>Photo</td>
      <td><img src="" height="200" width="200"><a href="">ChangePic</a></td>
    </tr>
      <tr>
        <td>Bio</td>
      <td><input type="text" name="textfield5" /></td>
    </tr>
      <tr>
        <td colspan="2"><input type="submit" name="Submit" value="Update" /></td>
      </tr>
      <tr>      </tr>
    </table>
  </div>
</form>
</body>

</html>
