<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>
<body>
<form id="form1" name="form1" method="post" action="/viewpost">
  <div align="center">
    <table width="491" height="194" border="1">
      <tr align="center"><th colspan="3">Likes:<font color="red"></font></th></tr>
      <tr>
        <th>User</th>
      <th>Comment</th>
        <th>Date</th>

  
    </tr>
      <tr>

      <td></td>
      <td></td>
        <td></td>
  

    </tr>
    </table>
  </div>
</form>
</body>
</html>
