<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>

  <tr><form id="form1" name="form1" method="post" action="">
  <table width="200" border="1">
    <td>First Name </td>
    <td>
      <input type="text" name="textfield" required/>
      </td>
  </tr>
  <tr>
    <td>Last Name </td>
    <td>
      <input type="text" name="textfield2" required/>
     </td>
  </tr>
  <tr>
    <td>Gender</td>
    <td>
      <p>
        <label>
          <input type="radio" name="Male" value="radio" />
          Male</label>
        <br />
        <label>
          <input type="radio" name="Female" value="radio" />
          Female</label>
        <br />
        <label>
        <input type="radio" name="others" value="radio" />
others</label>
        <br />
       
        <br />
      </p>
       </td>
  </tr>
  <tr>
    <td>Date Of Birth </td>
    <td><input type="date" name="date" /></td>
  </tr>
  <tr>
    <td>Phone Number </td>
    <td>
      <input type="text" name="textfield3" />
        </td>
  </tr>
  <tr>
    <td>Email Id </td>
    <td><input type="Email" name="Email"/></td>
  </tr>
  <tr>
    <td>Photo</td>
    <td>
      <input type="file" name="file" />
       </td>
  </tr>
  <tr>
    <td height="31">Bio</td>
    <td>
      <input type="text" name="textfield4" />
        </td>
  </tr>
  <tr>
    <td colspan="2">
      <input type="submit" name="Submit" value="Edit" />
       </td>
  </tr>
</table>
</form> 
</body>
</html>
