{% extends 'indexadmin.html'%}
{% block body %}
<head>
<style>
#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 40%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}
</style>
</head>


<body>
<form action="/add1" method="post" name="form1" id="form1">
  <div align="center">
    <table width="414" border="0" id="customers">
      <tr>
        <td colspan="3"><h1 align="center"><u>Add new Question</u></h1></td>
      </tr>
      <tr>
        <td width="140"><div align="right">Type</div></td>
        <td width="1">&nbsp;</td>
        <td width="179"><div align="left">
          <select name="select" required >
              <option>Personality</option>
              <option>Aptitude</option>
            </select>
        </div></td>
      </tr>
      <tr>
        <td>Company</td>
        <td>&nbsp;</td>
        <td><label>

          <select name="select2">
              {% for i in com %}
           <option value="{{i[9]}}">{{i[1]}}</option>
 {% endfor %}
          </select>

        </label></td>
      </tr>
      <tr>
        <td>Post</td>
        <td>&nbsp;</td>
        <td><label>
          <select name="select3">
            {% for i in post %}
            <option value="{{i[0]}}">{{i[1]}}</option>
            {% endfor %}
          </select>
        </label></td>
      </tr>
      <tr>
        <td><div align="right">Questions</div></td>
        <td>&nbsp;</td>
        <td>          <input name="textfield" type="text" required  />        </td>
      </tr>
      <tr>
        <td><div align="right">Option 1 </div></td>
        <td>&nbsp;</td>
        <td>          <input name="textfield2" type="text" required  />        </td>
      </tr>
      <tr>
        <td><div align="right">Option 2 </div></td>
        <td>&nbsp;</td>
        <td>          <input name="textfield3" type="text" required  />        </td>
      </tr>
      <tr>
        <td><div align="right">Option 3 </div></td>
        <td>&nbsp;</td>
        <td>          <input name="textfield4" type="text" required  />        </td>
      </tr>
      <tr>
        <td><div align="right">Option 4 </div></td>
        <td>&nbsp;</td>
        <td>          <input name="textfield5" type="text" required  />        </td>
      </tr>
      <tr>
        <td><div align="right">Correct Answer </div></td>
        <td>&nbsp;</td>
        <td><label>
          <textarea name="textarea"></textarea>
        </label></td>
      </tr>
      <tr>
        <td colspan="3"><div align="center">
            <input type="submit" name="Submit" value="Submit" />
        </div></td>
      </tr>
    </table>
  </div>
</form>
</body>
{%endblock %}