{% extends 'indexcomp.html' %}
{%block body%}
<head>
<style>
#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 40%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}
</style>
</head>
<body>
<form  action="company_add_new_qstn#addv" name="form1" id="form1">
  
  
        <div align="center">
           <table width="550%" border="1" id="customers">
            <tr>
              <th colspan="8" scope="col"><div align="center">
                <h1>Question Bank</h1>
              </div></th>
            </tr>
            <tr>
              <th width="51" scope="col">post</th>
              <th width="60" scope="col">Question</th>
              <th width="51" scope="col">Opt1</th>
              <th width="51" scope="col">Opt2</th>
              <th width="51" scope="col">Opt3</th>
              <th width="51" scope="col">Opt4</th>
              <th width="55" scope="col"><p>Correct Answer</p></th>
              <th width="39" scope="col">&nbsp;</th>
            </tr>
            {% for i in val %}

  <tr>
    <td>{{i[9]}}</td>
    <td>{{i[2]}}</td>
    <td>{{i[3]}}</td>
    <td>{{i[4]}}</td>
    <td>{{i[5]}}</td>
    <td>{{i[6]}}</td>
    <td>{{i[7]}}</td>
    <td><p><a href="{{url_for('delete_qstn',id=i[0])}}">Delete</a></p></td>
  </tr>
          {% endfor %}

  <!-- <tr>
      <td height="28" colspan="8"><div align="center">
        <input type="submit" name="Submit" value="Add new question" />
      </div></td>
    </tr>
    <tr>
      <td height="28" colspan="8"><a href="adhome">Home</a></td>
    </tr>
    <tr>
      <td height="28" colspan="8"><a href="addlg">Logout</a></td>
    </tr>-->
          </table>
  </div>
  <tr>
    <td height="28" colspan="8">
        
      <div align="center">
        <input type="submit" name="Submit" value="Add new question" />
        </div></td>
  </tr>
    <tr>
      <td height="28" colspan="8">&nbsp;</td>
    </tr>
    <tr>
      <td height="28" colspan="8">&nbsp;</td>
    </tr>
</form>
</body>
{% endblock %}
