{% extends 'indexcomp.html' %}
{% block body %}
<head>
<style>
#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 40%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}
</style>
</head>
<body>
<form action="/comcmp" method="post" name="form1" id="form1">
    
  <div align="center">
  
    <div align="center">
      <table width="753" border="0">
        <tr>
          <!--<td colspan="4" scope="col"><h1 align="left"><u>Complaint Desk</u> </h1></td>-->
        </tr>
        {%for i in s%}
        
        {%endfor%}
  <!--
    <tr>
      <td colspan="4"><a href="comhome">Home</a></td>
    </tr>
    <tr>
      <td colspan="4"><a href="comlg">Logout</a></td>
    </tr>
  -->
      </table>
      <table width="753" border="1"  id="customers">
        <tr>
          <th width="68" scope="col">Candidate</th>
          <th width="51" scope="col">Date</th>
          <th width="68" scope="col">Complaint</th>
          <th width="137" scope="col"></th>
        </tr>
        {%for i in s%}
        <tr>
          <td>{{i[5]}}</td>
          <td>{{i[2]}}</td>
          <td>{{i[3]}}</td>
          <td><a href="/comcmprepl?id={{i[0]}}#addv">Reply</a></td>
        </tr>
        {%endfor%}
        <!--
    <tr>
      <td colspan="4"><a href="comhome">Home</a></td>
    </tr>
    <tr>
      <td colspan="4"><a href="comlg">Logout</a></td>
    </tr>
  -->
        </table>
    </div>
</form>
</body>
</html>
{%endblock%}