<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />-->
<!--<title>Untitled Document</title>-->
<!--</head>-->
{% extends 'indexcomp.html' %}
{% block body %}


<head>
  <style>
#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 40%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}
</style>
</head>
<body>
<form id="form1" name="form1" method="post" action="">
  <div align="center">
    <table width="414" border="1" id="customers">
      <tr>
        <th width="66" scope="row">Candidate Details </th>
        <th width="75">Qualification</th>
        <th width="86">Job post Requirements </th>
        <th width="159">&nbsp;</th>
      </tr>
      {% for i in val %}
      <tr>
        <td scope="row">Name:{{i[8]}} <br> Email:{{i[9]}} <br> Contact:{{i[10]}}</td>
        <td>Qualification:{{i[2]}} <br> Institution:{{i[3]}} <br> Percentage of mark:{{i[6]}}</td>
        <td>JobPost:{{i[19]}} <br>  Description:{{i[23]}} <br>  Qualification:{{i[24]}}<br>  Skills required:{{i[22]}} <br> Experience:{{i[25]}}  </td>
        <td><p><a href="/aaccept_application?id={{i[13]}}">Accept</a></p>
        <p><a href="/rejecct_application?id={{i[13]}}">Reject</a></p></td>
      </tr>
      {% endfor %}
      </table>
  </div>
</form>
</body>
{% endblock %}
<!--</html>-->
