<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>$Title$</title>
</head>
<body>

<a href="/doc_add_patinet">Add patient</a><br>
<a href="/doc_assign_patient_to_caretaker"> Assign Patinet To Caretaker</a><br>
<a href="/Craetaker_Add">Craetaker Add</a><br>
<a href="/Doctor View Caretaker Complaint">Doctorv iew caretaker complaint</a>
<a href="/doctor view profile">Doctor view profile</a><br>
<a href="/Doctor-Change Password">Doctor cahnge password</a><br>
<a href="/Doctors View Patient Imotion">Doctor view patinet imotion</a><br>
<a href="/Doctors View Patient-Progress">Doctor_view_patinet_progress</a><br>
<a href="/Edit Allocation">Doctor edit allocation</a><br>
<a href="/Edit Caretaker">Doctor edit caretaker</a><br>
<a href="/Edit-Ptient">doctor edit patinet</a><br>
<a href="/Send Notification To Cretaker">doctor send notifiaction to caretaker</a><br>
<a href="/Send Reply">Doctor sned reply</a><br>
<a href="/View Caretaker">Doctor view caretaker</a><br>
<a href="/View Patients">Doctor view patinets</a><br>
<a href="/View Pending Ptients">Doctor view pending patinets</a><br>
<a href="/doc_view_patient_assigned_caretaker">Doctor view patinet assigned caretaker</a><br>
<a href="/doc_view_send_notification">Doctor view and send notification</a><br>



</body>
</html>