{% extends "doctor/index.html" %}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="">
  <p>&nbsp;</p>
  <table width="456" border="1">
    <tr>
      <th width="98" scope="col">Sno</th>
      <th width="106" scope="col">Name</th>
      <th width="111" scope="col">Email</th>
      <th width="113" scope="col">&nbsp;</th>
    </tr>
    <tr>
      <th scope="row">&nbsp;</th>
      <td><p>&nbsp;</p>
      <p>
        <label>
        <input type="image" name="imageField" src="jjjk" />
        </label>
      </p></td>
      <td>&nbsp;</td>
      <td><a href="#">Assign</a></td>
    </tr>
  </table>

</form>
</body>
{% endblock %}
