{% extends "doctor/index.html" %}
{% block body %}
<body>
<form id="form1" name="form1" method="post" action="/doc_view_patient_post">
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <table class="table">
    <tr>
      <th  scope="col">Name
        <label>
        <input type="text" name="textfield" class="form-control" required/>
        </label>
        <label>
        <input type="submit" name="Submit" value="Search" class="btn btn-primary"/>
      </label></th>
    </tr>
    </table>
    <table class="table">
      <tr>
        <th   scope="col">Sno</th>
        <th scope="col">Name</th>
        <th  scope="col">Image</th>
        <th  scope="col">Address</th>
        <th  scope="col">Adhar_No</th>
        <th  scope="col">Contact</th>
        <th  scope="col" colspan="3">&nbsp;</th>
      </tr>
      {% for i in data%}
      <tr>
        <th scope="row">{{ loop.index }}
        </th>
        <td>{{ i["name"]  }}</td>
        <td><img src="{{ i["image"]  }}" width="200px" height="200px"/></td>
        <td>{{ i["place"]  }}
  <br>        {{ i["pin"]  }} <br>
          {{ i["post"]  }}<br>{{ i["district"] }}&nbsp;</td>
        <td>{{ i["adhar_no"]  }}&nbsp;</td>
        <td>{{ i["phone"]  }}
          {{ i["email"]  }}&nbsp;</td>
        <td><a href="/doc_view_progress/{{ i["lid"]}}" class="btn btn-primary">progress</a></td>
        <td><a href="/doc_edit_patient/{{ i["lid"]}}" class="btn btn-primary">Edit</a></td>
        <td><a href="/doc_delete_patient/{{ i["lid"]}}" class="btn btn-danger">Delete</a></td>
      </tr>
      {% endfor %}
    </table>
  </table>

</form>
</body>
{% endblock %}
