{% extends 'admin/admintemp.html' %}
{% block body %}
<body>
<img src="static\admintemplate\assets\images\bus bg.jpg">
{#<a href="/admin_add_advertisement">Add advertisement</a><br>#}
{#<a href="/admin_add_bus">Add bus</a><br>#}
{#<a href="/admin_add_notification">Add notification</a><br>#}
{#<a href="/admin_add_route">Add route</a><br>#}
{#<a href="/admin_add_stop">Add stop</a><br>#}
{#<a href="/admin_delete_advertisement">delete advertisement</a><br>#}
{#<a href="/admin_edit_advertisement">edit advertisement</a><br>#}
{#<a href="/admin_edit_bus">Edit bus</a><br>#}
{#<a href="/admin_edit_route">Edit route</a><br>#}
{#<a href="/admin_edit_stop">Edit stop</a><br>#}
{#<a href="/admin_view_advertisement">View advertisement</a><br>#}
{#<a href="/admin_view_bus">View bus</a><br>#}
{#<a href="/admin_view_emergency">View emergency</a><br>#}
{#<a href="/admin_view_notification">View notification</a><br>#}
{#<a href="/admin_view_route">View route</a><br>#}
{#<a href="/admin_view_stop">View stop</a><br>#}
{#<a href="/admin_add_emergency">Add emergency</a><br>#}
{#<a href="/">Logout</a><br>#}
</body>
{% endblock %}