{% extends 'adindex.html' %}
{% block body %}
<body>
<form id="form1" name="form1" method="post" action="/admin_edit_notification_post">

  <table class="table">
    <tr>
      <td>Description <input type="text" name="notid" value="{{ data["notid"] }}" required class="form-control "/>
          <textarea value="" name="notification">{{ data["notification"] }}</textarea>
     </td>
    </tr>
    <tr>
      <td><label>
        <div align="center">
          <input type="submit" name="Submit" value="Edit" class="btn btn-success"/>
          </div>
      </label></td>
    </tr>
  </table>
  <p>&nbsp;</p>
</form>

</body>
{% endblock %}
