
<style>
    body{
       margin: 0;
       padding: 0;
       background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(static/images/download.jpg);
       background-size: cover;
       background-position: center;
       font-family: sans-serif;
           }
   .login{
       width: 320px;
       height: 320px;
       background: #000;
       color: #fff;
       top: 50%;
       left: 50%;
       position: absolute;
       transform: translate(-50%,-50%);
       box-sizing: border-box;
       padding: 60px 30px;
   }
   .login center{
       font-size: xx-large;
       color: #ffc107;
   }
   .login p{
       margin: 0;
       padding: 0;
       font-weight: bold;
   }
   .login input{
       width: 100%;
       margin-bottom: 20px;
   }
   .login input[type="text"],input[type="password"]{
       border: none;
       border-bottom: 1px solid #fff;
       background: transparent;
       outline: none;
       height: 40px;
       color: #fff;
       font-size: 16px;
   }
   .login input[type="submit"]{
       border: none;
       outline: none;
       height: 40px;
       background: #259bfb;
       color: #fff;
       font-size: 18px;
       border-radius: 20px;
   }
   .login input[type="submit"]:hover{
       cursor: pointer;
       background: #ffc107;
       color: #000;
   }
</style>
<div class="login">
<form action="" method="POST">
   <center>LOGIN</center>
   {% csrf_token %}
   <p>Username</p>
   <input type="text" name="username" required placeholder="username">
   <p>Password</p>
   <input type="password" name="password" required placeholder="password">
   <input type="submit" value="LOGIN">
</form>
</div>
