
{% extends 'admin/adminindex.html' %}
{% block body %}

<li class="itemSlide" style="float: left; list-style: none; position: relative; width: 782px;">
          <div class="slideLeft"><p class="title"><a href="/about-us">WELCOME TO EyeMate united voice of millions of blind and partially sighted Europeans.</a></p>
 <p>EBU works towards an accessible and inclusive society with equal opportunities for blind and partially sighted people to fully participate in all aspects of social, economic, cultural and political life.</p>
 </div>
          <div class="imgCar"><img typeof="foaf:Image" src="https://www.euroblind.org/sites/default/files/slide1.png" width="610" height="403" alt=""></div>  </li>

 {% endblock %}