{% extends 'adindex.html' %}
{% block body %}

<body>
<h3 align="center"><b>View Bus Location</b></h3>
<form action="/admin_search_bus_post" method="post" enctype="multipart/form-data" name="form1" id="form1">

<table class=" table table-bordered">
    <tr>
        <th>#</th>
      <th>busname</th>
      <th>Stop Name</th>
        <th>Latitude</th>
      <th>Longitude</th>
      <th>Date </th>
      <th>Time</th>
        <th></th>
    </tr>
      {% for i in data %}
      <tr>
          <td>&nbsp;{{ loop.index }}</td>
          <td>{{ i["busname"] }}</td>
          <td>{{ i["stopname"] }}</td>
          <td>{{ i['latitude'] }}</td>
          <td>{{ i["longitude"] }}</td>
          <td>{{ i["Date"] }}</td>
          <td>{{ i["Time"] }}</td>

          <td width="53"><div align="center"><a href="/busallocationviewed/{{ i["locid"] }}" class="btn btn-info">Edit</a></div></td>

    </tr>
        {% endfor %}
  </table>
  <p>&nbsp;</p>
</form>
</body>
{% endblock %}
