{% extends "admin/index.html" %}
{% block body %}
<body>
  <div class="table-responsive">
<!-- <a href="/adm_view_doctor">AdminViewDoctor</a><br>
<a href="/Change_passwrd">Change Password</a><br> -->

{##<a href="/adm_view_progress">AdminViewProgress</a><br>#}
{##<a href="/admin">Admin</a><br>#}
{#<a href="/adm_sent_reply">AdminSendReply</a><br>#}
<!-- <a href="/admin_add_doctor">Doctor Registration</a><br>
<a href="/adm_view_patients">AdminViewPatients</a><br>
<a href="/view_complaints">View Complaints</a><br>
<a href="/admin_add_puzzles">Add puzzles</a> -->
</body>
{% endblock %}