
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Try TO Remember - Dashboard</title>
	<link href="/static/admin_template/css/bootstrap.min.css" rel="stylesheet">
	<link href="/static/admin_template/css/font-awesome.min.css" rel="stylesheet">
	<link href="/static/admin_template/css/datepicker3.css" rel="stylesheet">
	<link href="/static/admin_template/css/styles.css" rel="stylesheet">
	
	<!--Custom Font-->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
	<!--[if lt IE 9]>
	<script src="/static/admin_template/js/html5shiv.js"></script>
	<script src="/static/admin_template/js/respond.min.js"></script>
	<![endif]-->
</head>
<body>
	<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar-collapse"><span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span></button>
				<a class="navbar-brand" href="#"><span>Try To </span>Remember</a>
				<ul class="nav navbar-top-links navbar-right">
					
					
						<!-- <ul class="dropdown-menu dropdown-alerts">
							<li><a href="#">
								<div><em class="fa fa-envelope"></em> 1 New Message
									<span class="pull-right text-muted small">3 mins ago</span></div>
							</a></li>
							<li class="divider"></li>
							<li><a href="#">
								<div><em class="fa fa-heart"></em> 12 New Likes
									<span class="pull-right text-muted small">4 mins ago</span></div>
							</a></li>
							<li class="divider"></li>
							<li><a href="#">
								<div><em class="fa fa-user"></em> 5 New Followers
									<span class="pull-right text-muted small">4 mins ago</span></div>
							</a></li>
						</ul>
					</li>
				</ul> -->
			</div>
		</div><!-- /.container-fluid -->
	</nav>
	<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
		<div class="profile-sidebar">
			<div class="profile-userpic">
				<img src="/static/aa.jpg" width="90px" height="90px" class="img-responsive" alt="">
			</div>
			<div class="profile-usertitle">
				<div class="profile-usertitle-name">{{ session["username"] }}</div>
				<div class="profile-usertitle-status"><span class="indicator label-success"></span>Online</div>
			</div>
			<div class="clear"></div>
		</div>
		<div class="divider"></div>
		<form role="search">
			<div class="form-group">
{#				<input type="text" class="form-control" placeholder="Search">#}
			</div>
		</form>
		<ul class="nav menu">
			<li class="active"><a href="/home"><em class="fa fa-dashboard">&nbsp;</em> Home</a></li>
	
{#
{#			<li><a href="panels.html"><em class="fa fa-clone">&nbsp;</em> Alerts &amp; Panels</a></li>#}
			<li class="parent "><a data-toggle="collapse" href="#sub-item-1">
				<em class="fa fa-navicon">&nbsp;</em> Doctors <span data-toggle="collapse" href="#sub-item-1" class="icon pull-right"><em class="fa fa-plus"></em></span>
				</a>
				<ul class="children collapse" id="sub-item-1">
					<li><a class="" href="/admin_add_doctor">
						<span class="fa fa-arrow-right">&nbsp;</span> Add Doctors
					</a></li>
					<li><a class="" href="/adm_view_doctor">
						<span class="fa fa-arrow-right">&nbsp;</span> View Doctors
					</a></li>
{#					<li><a class="" href="#">#}
{#						<span class="fa fa-arrow-right">&nbsp;</span> Sub Item 3#}
{#					</a></li>#}
				</ul>
			</li>
			<li class="parent "><a data-toggle="collapse" href="#sub-item-12">
				<em class="fa fa-navicon">&nbsp;</em> Puzzles <span data-toggle="collapse" href="#sub-item-12" class="icon pull-right"><em class="fa fa-plus"></em></span>
				</a>
				<ul class="children collapse" id="sub-item-12">
					<li><a class="" href="/admin_add_puzzles">
						<span class="fa fa-arrow-right">&nbsp;</span> Add Puzzle
					</a></li>
					<li><a class="" href="/admin_view_puzzles">
						<span class="fa fa-arrow-right">&nbsp;</span> View Puzzle
					</a></li>
{#					<li><a class="" href="#">#}
{#						<span class="fa fa-arrow-right">&nbsp;</span> Sub Item 3#}
{#					</a></li>#}
				</ul>
			</li>
			<li><a href="/adm_view_patients"><em class="fa fa-bar-chart">&nbsp;</em> Patients</a></li>
			<li><a href="/view_complaints"><em class="fa fa-calendar">&nbsp;</em> Complaints</a></li>
		
			<li><a href="/Change_passwrd"><em class="fa fa-user">&nbsp;</em> Change Password</a></li>
			<li><a href="/"><em class="fa fa-power-off">&nbsp;</em> Logout</a></li>
		</ul>
	</div><!--/.sidebar-->
		
	<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
		<div class="row">
{#			<ol class="breadcrumb">#}
{#				<li><a href="#">#}
{#					<em class="fa fa-home"></em>#}
{#				</a></li>#}
{#				<li class="active">Dashboard</li>#}
{#			</ol>#}
		</div><!--/.row-->
		
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header"></h1>
			</div>
		</div><!--/.row-->
		
		<div class="panel panel-container">
			<div class="row">
				<div class="col-xs-6 col-md-3 col-lg-3 no-padding">

				</div>
				<div class="col-xs-6 col-md-3 col-lg-3 no-padding">

				</div>
				<div class="col-xs-6 col-md-3 col-lg-3 no-padding">

				</div>
				<div class="col-xs-6 col-md-3 col-lg-3 no-padding">

				</div>
			</div><!--/.row-->
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="panel panel-default">
					<div class="panel-heading">
					{{ session["page"] }}
<br>
                    <br>
{#						<span class="pull-right clickable panel-toggle panel-button-tab-left"><em class="fa fa-toggle-up"></em></span>#}
</div>
					<div class="panel-body">
						<div class="canvas-wrapper">
                            {% block body %}
                            {% endblock %}
{#							<canvas class="main-chart" id="line-chart" height="200" width="600"></canvas>#}
						</div>
					</div>
				</div>
			</div>
		</div><!--/.row-->
		


	</div>	<!--/.main-->
	
	<script src="/static/admin_template/js/jquery-1.11.1.min.js"></script>
	<script src="/static/admin_template/js/bootstrap.min.js"></script>
	<script src="/static/admin_template/js/chart.min.js"></script>
	<script src="/static/admin_template/js/chart-data.js"></script>
	<script src="/static/admin_template/js/easypiechart.js"></script>
	<script src="/static/admin_template/js/easypiechart-data.js"></script>
	<script src="/static/admin_template/js/bootstrap-datepicker.js"></script>
	<script src="/static/admin_template/js/custom.js"></script>
	<script>
		window.onload = function () {
	var chart1 = document.getElementById("line-chart").getContext("2d");
	window.myLine = new Chart(chart1).Line(lineChartData, {
	responsive: true,
	scaleLineColor: "rgba(0,0,0,.2)",
	scaleGridLineColor: "rgba(0,0,0,.05)",
	scaleFontColor: "#c5c7cc"
	});
};
	</script>
		
</body>
</html>