<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />-->
<!--<title>Untitled Document</title>-->
<!--<style type="text/css">-->
<!--&lt;!&ndash;-->
<!--.style1 {font-size: xx-large}-->
<!--&ndash;&gt;-->
<!--</style>-->
<!--</head>-->
{% extends 'indexnew.html' %}
{% block body %}
<head>
<style>
#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 40%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}
</style>
</head>
<body>
<form id="form1" name="form1" method="post" action="/reg1">
  <div align="center">
    <table width="390" border="0" id="customers">
      <!--<tr>-->
        <!--<td colspan="2"><h1 class="style1"><u>Registration</u></h1></td>-->
      <!--</tr>-->
      <tr>
        <th><div align="left" class="style1">Company Name </div></th>
        <td class="style1">
          <input name="textfield" type="text"required="required" required pattern="[A-Z a-z]{2,25}"/>
        </td>
      </tr>
      <tr>
        <th><div align="left" class="style1">Place</div></th>
        <td class="style1">
          <input name="textfield2" type="text"required="required" required pattern="[A-Z a-z.]{3,25}"/>
        </td>
      </tr>
      <tr>
        <th><div align="left" class="style1">Post</div></th>
        <td class="style1">
          <input name="textfield3" type="text"required="required" required pattern="[A-Z a-z.]{3,25}"/>
        </td>
      </tr>
      <tr>
        <th><div align="left" class="style1">Pin</div></th>
        <td class="style1">
          <input name="textfield4" type="text" required pattern="[0-9]{6}"/>
        </td>
      </tr>
      <tr>
        <th><div align="left" class="style1">Description</div></th>
        <td class="style1">
          <input name="textfield5" type="text" required pattern="[A-Z a-z][_-+;:',./?~!@#$%&""]{3,100}"/>
        </td>
      </tr>
      <tr>
        <th><div align="left" class="style1">Established Date </div></th>
        <td class="style1">
          <input name="textfield6" type="date" required/>
        </td>
      </tr>
      <tr>
        <th><div align="left" class="style1">New password </div></th>
        <td class="style1">
          <input name="textfield7" type="password" required/>
        </td>
      </tr>
      <tr>
        <th><div align="left" class="style1">Confirm password </div></th>
        <td class="style1">
          <input name="textfield8" type="password"required/>
        </td>
      </tr>
      <tr>
        <th><div align="left" class="style1">Mail id </div></th>
        <td class="style1">
          <input name="textfield9" type="text" required pattern="[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}" />
        </td>
      </tr>
      <tr>
        <th><div align="left" class="style1">Contact</div></th>
        <td class="style1">
          <input name="textfield10" type="text" required pattern="[0-9]{10}"/>
        </td>
      </tr>
      <tr>
        <td><div align="left"></div></td>
        <td><div align="left">
            <span class="style1">
            <input type="submit" name="Submit" value="Submit" />
            </span></div></td>
      </tr>
        </table>
  </div>
</form>
</body>
{% endblock %}
<!--</html>-->
